.container {
  margin: 50px;
  max-width: 80%;
}

.tweet-card {
  max-width: 80%;
  display: flex;
  margin: 50px;
  //flex-direction: column ;
}

.tweet-form {
  min-width: 150px;
  max-width: 80%;
  width: 100%;
  margin: 50px;
}

.tweet-full-width {
  width: 80%;
}


// .avatar-image {
//     // background-size: cover;
//     height: 100%;
//     float: left;
//   }
//   .card-header:first-child {
//     border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
// }
